<%- include("./partials/header") %>

    <nav class=class="navbar navbar-expand-sm bg-light">
        <a class="navbar-brand mt-2" href="#">Todo App   </a>
    </nav>

    <div class="container mt-4">

        <form action="/add/todo" method="post" class="d-flex">

            <input type="text" name="todo" class="form-control" placeholder="Enter Todo">

            <input type="submit" value="Add Todo" class="btn btn-md btn-primary mx-2">
        </form>

        <ul class="list-group my-5">

            <% todo.forEach(todos=>{ %>

                <li class="list-group-item">
                    <%= todos.todo%>

                        <a href="/delete/todo/<%= todos._id %>" class="">Delete</a>

                </li>



                <%  })%>



        </ul>

    </div>

    <%- include("./partials/footer") %>